.col-full {
  width: 100%;
}

@media screen and (max-width: 359px) {
  .logo {
    width: 6rem;
    height: 11vh;
  }

  .headline-container {
    width: 75%;
    font-size: 16px;
    top: 100px;
  }

  .height {
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .flex-col-row {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }

  .desktop-title {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  .logo {
    width: 6rem;
    height: 11vh;
  }

  .headline-container {
    width: 75%;
    font-size: 20px;
    top: 50px;
  }

  .height {
    flex-wrap: wrap;
    flex-basis: 50%;
    height: 84vh;
  }

  .flex-col-row {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .not-good-btn {
    width: 8rem;
  }

  .title {
    font-size: 15px;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .img-result {
    width: 100px;
  }

  .synopsis {
    font-size: 11px;
  }

  .margin-top {
    margin-top: 35px;
  }

  .list-column {
    flex-basis: 50%;
  }

  .no-anime {
    font-size: 16px;
    height: 40vh;
  }

  .center {
    position: absolute;
    left: 9rem;
    top: 15rem;
  }

  .empty-results {
    position: absolute;
    left: 1.5rem;
    top: 15rem;
  }

  .lost {
    position: absolute;
    left: 1.5rem;
    top: 15rem;
  }
}

@media screen and (min-width: 411px) {
  .logo {
    width: 6rem;
    height: 11vh;
  }

  .headline-container {
    width: 77%;
    font-size: 23px;
    top: 40px;
  }

  .title {
    font-size: 21px;
  }

  .img-result {
    width: 138px;
  }

  .center {
    position: absolute;
    left: 10rem;
    top: 15rem;
  }

  .empty-results {
    position: absolute;
    left: 1.5rem;
  }

  .lost {
    position: absolute;
    left: 1.5rem;
    top: 15rem;
  }
}

@media screen and (min-width: 484px) {
  .logo {
    width: 6rem;
  }

  .center {
    position: absolute;
    left: 12rem;
    top: 15rem;
  }

  .empty-results {
    position: absolute;
    right: 1.5rem;
    top: 15rem;
  }

  .lost {
    position: absolute;
    right: 1.5rem;
    top: 15rem;
  }
}

@media screen and (min-width: 549px) {
  .not-good-btn {
    width: 8rem;
  }

  .title {
    font-size: 24px;
  }

  .center {
    position: absolute;
    left: 15rem;
    top: 15rem;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 15rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 15rem;
  }
}

@media screen and (min-width: 573px) {
  .logo {
    width: 6rem;
    height: 11vh;
  }

  .headline-container {
    width: 80%;
    font-size: 29px;
    top: 30px;
  }

  .margin-top {
    margin-top: 5px;
  }

  .no-anime {
    font-size: 20px;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 15rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 15rem;
  }
}

@media screen and (min-width: 690px) {
  .logo {
    width: 6rem;
    height: 11vh;
  }

  .center {
    position: absolute;
    left: 19rem;
    top: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .aw-logo {
    width: 6rem;
  }

  .mobile-logo {
    display: none;
  }

  .width-50 {
    width: 20rem;
    margin: auto;
  }

  .flex-col-row {
    flex-direction: row;
  }

  .not-good-btn {
    width: 8rem;
  }

  .title {
    font-size: 28px;
  }

  .flex-wrap {
    flex-wrap: nowrap;
    width: 75%;
    margin: auto;
  }

  .mobile-title {
    display: none;
  }

  .synopsis {
    font-size: 13px;
  }

  .list-column {
    flex-basis: 25%;
  }

  .no-anime {
    font-size: 25px;
    height: 25vh;
  }

  .center {
    position: absolute;
    left: 22rem;
    top: 20rem;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }
}

@media screen and (min-width: 846px) {
  .aw-logo {
    width: 6rem;
  }

  .center {
    position: absolute;
    left: 24rem;
    top: 20rem;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }
}

@media screen and (min-width: 928px) {
  .width-50 {
    width: 20rem;
  }

  .center {
    position: absolute;
    left: 26rem;
    top: 20rem;
  }
}

@media screen and (min-width: 980px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 1100px) {
  .aw-logo {
    width: 6rem;
  }

  .not-good-btn {
    width: 8rem;
  }

  .title {
    font-size: 30px;
  }

  .width-50 {
    width: 20rem;
    margin: auto;
  }

  .img-result {
    width: 262px;
  }

  .synopsis {
    font-size: 14px;
  }

  .center {
    position: absolute;
    left: 32rem;
    top: 20rem;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }
}

@media screen and (min-width: 1144px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  .not-good-btn {
    width: 8rem;
  }

  .width-50 {
    width: 20rem;
    margin: auto;
  }
}

@media screen and (min-width: 1271px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 1400px) {
  .aw-logo {
    width: 6rem;
  }

  .headline-container {
    width: 37%;
    font-size: 36px;
    top: 0;
  }

  .not-good-btn {
    width: 8rem;
  }

  .width-50 {
    width: 20rem;
    margin: auto;
  }

  .synopsis {
    font-size: 16px;
  }

  .center {
    position: absolute;
    left: 41rem;
    top: 20rem;
  }

  .empty-results {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }

  .lost {
    position: absolute;
    right: 2rem;
    top: 16rem;
  }
}

@media screen and (min-width: 1492px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 1716px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 1806px) {
  .width-50 {
    width: 20rem;
  }
}

@media screen and (min-width: 2144px) {
  .width-50 {
    width: 20rem;
  }
}
